body {
    background-color: powderblue;
  }
h1 {
    color: blue;
  }
p {
    color: blue;
  }
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

img {  
  height:400px; 
  width: auto; 
  border: solid 2px orange;
  position:relative;
  }